/* ADD YOUR STYLES HERE */

/*===========================================================================*/
                        /* ~~~ EXERCISE 6 ~~~ */ 
/*===========================================================================*/

.vertical-align {
    position: relative;
    -webkit-transform: translateY(1%);
    -ms-transform: translateY(1%);
    -o-transform: translateY(1%);
    transform: translateY(1%);
}
.pad-that-shit {
    padding: 24px;
}

.pad-that-shit:first-child {
    padding: 24px 24px 24px 0;
}
.pad-that-shit:last-child {
    padding: 24px 0 24px 24px ;
}
.container {
    overflow: auto;
    border: 1px solid black;
    text-align: center;
    position: relative;
}

.inline-block {
    display: inline-block;
}

.align-it-top {
    vertical-align: top;
}

/*===========================================================================*/
                        /* ~~~ EXERCISE 7 ~~~ */ 
/*===========================================================================*/

.pad-to-vert-align {
    padding: 25px 5px;
}

.align-left {
    text-align: left;
}


/* EXERCISE 8 USED STYLES FROM PREVIOUS */

/*===========================================================================*/
                        /* ~~~ EXERCISE 9/10 ~~~ */ 
/*===========================================================================*/

.button {
    display: inline-block;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: #ed828a;
    border: 1px solid #ed828a;
    padding: 10px 25px;
}

.big-button {
    font-size: 24px;
    padding: 15px 30px;
    vertical-align: middle;
}

.medium-button {
    font-size: 15px;
    padding: 10px 20px;
}

.small-button {
    font-size: 8px;
    font-weight: bold;
    padding: 5px;
}


/*===========================================================================*/
                        /* ~~~ EXERCISE 10 ~~~ */ 
/*===========================================================================*/

.i-am-a-salmon {
    background-color: #ed828a;
    border-radius: 5px;
    padding: 0;
}

a.button:hover {
    color: purple;
}


/*===========================================================================*/
                        /* ~~~ EXERCISE 11 ~~~ */ 
/*===========================================================================*/

.pad-that-shit-small {
    padding: 5px;
    text-align: center;
    margin: 3px;
}

.bye-text-deco {
    text-decoration: none;
}

.make-me-salmon {
    color: #ed828a;
}

.underline-salmon {
    border-bottom: 3px solid #ed828a;
}

.we-are-here {
    color: #cccccc;
}

.underline-here {
    border-bottom: 3px solid #cccccc;
}


/*===========================================================================*/
                        /* ~~~ EXERCISE 12 ~~~ */ 
/*===========================================================================*/

.avatar {
    float: left;
    margin-right: 10px
}

.sub-avatar {
    margin-left: 70px;
}

.overflow {
    overflow: hidden;
}


/*===========================================================================*/
                        /* ~~~ EXERCISE 13 ~~~ */ 
/*===========================================================================*/

.tab li {
    padding: 5px 10px;
    border-top: 1px solid #a7aadf;
    border-right: 1px solid #a7aadf;
    border-left: 1px solid #a7aadf;
    border-bottom: 1px solid white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    list-style-type: none;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.tab a {
    color: #003ff5;
    text-decoration: none;
}


.tab-container {
    position: relative;
    border: 1px solid #a7aadf;
    padding: 15px;
    border-radius: 5px;
    clear: left;
    bottom: 1px;
}

.tab-text-dec {
    text-decoration: none;
}

#selected {
    background-color: white;
    position: relative;
    border-bottom: 2px solid white;
    z-index: 10;
}


