/* ADD YOUR STYLES HERE */

/*===========================================================================*/
                        /* ~~~ EXERCISE 6 ~~~ */ 
/*===========================================================================*/

.vertical-align {
    position: relative;
    -webkit-transform: translateY(1%);
    -ms-transform: translateY(1%);
    -o-transform: translateY(1%);
    transform: translateY(1%);
}
.pad-that-shit {
    padding: 24px;
}

.pad-that-shit:first-child {
    padding: 24px 24px 24px 0;
}
.pad-that-shit:last-child {
    padding: 24px 0 24px 24px ;
}
.container {
    overflow: auto;
    border: 1px solid black;
    text-align: center;
    position: relative;
}

.inline-block {
    display: inline-block;
}

.align-it-top {
    vertical-align: top;
}

/*===========================================================================*/
                        /* ~~~ EXERCISE 7 ~~~ */ 
/*===========================================================================*/

.pad-to-vert-align {
    padding: 25px 5px;
}

.align-left {
    text-align: left;
}